extends template
block variables
    - var title = 'Описание 1650'
block header
    include header.pug
block content
    div.about_content
        div 
            img(src="./img/1650.png") 
            span Видеокарта MSI GeForce GTX 1650 D6 VENTUS XS OCV3 [GeForce GTX 1650 D6 VENTUS XS OCV3] с размерами 179x112 мм подходит для интеграции в компактный системный блок. Благодаря архитектуре NVIDIA Turing она обеспечивает производительность, скорость и плавность графического контента. Процессор функционирует на частоте в пределах 1620 МГц при разгоне. Платформа графического ускорителя дополнена 4 ГБ памяти стандарта GDDR6. Вывод изображения на внешние мониторы возможен с помощью 3 разъемов: по одному DisplayPort, DVI-D и HDMI. Кулер с двумя массивными вентиляторами и алюминиевым радиатором за счет стабильного отведения тепла поддерживает низкую температуру нагрева видеокарты. Утилита MSI Afterburner предусматривает разгон и мониторинг состояния MSI GeForce GTX 1650 D6 VENTUS XS OCV3. Видеокарта INNO3D GeForce GTX 1650 TWIN X2 OC [N16502-04D6X-1713VA32R] предназначена для установки в игровые системы и рабочие станции. Благодаря микроархитектуре Turing, многоядерному чипу и 4 ГБ памяти стандарта GDDR6 она обеспечивает высокую вычислительную мощность графики и плавное отображение динамичных сцен. Процессор работает на частоте 1410 МГц, которая способна повышаться до показателя 1635 МГц в режиме разгона. Видеокарта отличается длиной 240 мм и системой охлаждения с двумя вентиляторами. Они стабильно отводят тепло от внутренних компонентов и защищают от перегрева при продолжительной нагрузке. Для вывода изображения на монитор в графическом адаптере INNO3D GeForce GTX 1650 TWIN X2 OC предусмотрены 3 разъема DisplayPort и 1 HDMI.
block footer
    include footer.pug
