div.header
    div.top
        div.logo Видеокарты
        div.menu 
            div
                a(href="index.html") Главная
            div
                a(href="table.html") Характеристики
        